@model UAL.BLL.Models.Order

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#date").datepicker({ dateFormat: 'dd-MM-yy' });
        $("#deliveryDate").datepicker({ dateFormat: 'dd-MM-yy' });
    });
</script>
<div id="main1" style="margin-left:195px">
    <h2>Edit</h2>
    @Session["WorkOrderUpdated"]
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Create Work Order</legend>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.OrderRef)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.OrderRef)
                        @Html.ValidationMessageFor(model => model.OrderRef)
                    </td>

                    <td>
                        @Html.LabelFor(model => model.OrderRefNo)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.OrderRefNo)
                        @Html.ValidationMessageFor(model => model.OrderRefNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Date)
                    </td>
                    <td>
                        <input type="text" id="date" name="date" value="@Model.Date.ToString("dd-MMMM-yyyy")"/>

                    </td>

                    <td>
                        @Html.LabelFor(model => model.CustomerName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CustomerName)
                        @Html.ValidationMessageFor(model => model.CustomerName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.DeliveryPlace)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DeliveryPlace)
                        @Html.ValidationMessageFor(model => model.DeliveryPlace)
                    </td>

                    <td>
                        @Html.LabelFor(model => model.DeliveryDate)
                    </td>
                    <td>
                        <input type="text" id="deliveryDate" name="deliveryDate" value="@Model.DeliveryDate.ToString("dd-MMMM-yyyy")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.TOCompany)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.TOCompany)
                        @Html.ValidationMessageFor(model => model.TOCompany)
                    </td>

                    <td>
                        @Html.LabelFor(model => model.FROMCompany)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.FROMCompany)
                        @Html.ValidationMessageFor(model => model.FROMCompany)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Attn)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Attn)
                        @Html.ValidationMessageFor(model => model.Attn)
                    </td>

                    <td>
                        @Html.LabelFor(model => model.AccessoryType)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.AccessoryType)
                        @Html.ValidationMessageFor(model => model.AccessoryType)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.OrderQty)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.OrderQty)
                        @Html.ValidationMessageFor(model => model.OrderQty)
                    </td>

                    <td>
                        @Html.LabelFor(model => model.Remark)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Remark)
                        @Html.ValidationMessageFor(model => model.Remark)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ReferenceNo)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ReferenceNo)
                        @Html.ValidationMessageFor(model => model.ReferenceNo)
                    </td>
                </tr>
            </table>
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "WorkOrderList")
    </div>
</div>
